

body {
    background-color: #d5ee7b;
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #0d0402; /* Tomato color */
}

.container {
    width: 90%;
    margin: 20px auto;
}

.playlist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.back-to-index {
    margin-bottom: 20px;
    text-align: left;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

.playlist-card {
    background-color: #f6f5f2;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.playlist-card:hover {
    transform: translateY(-10px);
}

.playlist-image {
    height: 150px;
    background-size: cover;
    background-position: center;
}

h3 {
    font-size: 22px;
    color: #333;
    margin: 10px 0;
}

button {
    background-color: #070607;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #eca1a1;
}

.song-list {
    list-style: none;
    padding: 0;
}

.song-item {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    cursor: pointer;
}

.song-item:hover {
    background-color: #eee;
}

.current-song-player {
    text-align: center;
    margin-top: 40px;
}

.current-song-title {
    font-size: 24px;
    color: #333;
}

.song-navigation {
    margin-top: 10px;
}

.song-navigation button {
    margin: 0 10px;
}

.add-playlist-form,
.add-song-form {
    margin-top: 20px;
    text-align: center;
}

.add-playlist-form input,
.add-song-form input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sorting-options {
    text-align: center;
    margin-bottom: 20px;
}

.sorting-options button {
    margin: 0 10px;
}
