body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #d5ee7b;
  }
  .h1{
    align-items: center;
  }
  
  .folder-container {
    display: flex;
    flex-wrap: wrap; /* Allows folders to wrap onto new lines */
    gap: 20px; /* Adds space between folders */
    justify-content: space-evenly; /* Centers the folders and distributes them evenly */
  }
  
  .folder {
    border: 2px solid #ccc;
    padding: 10px;
    width: 300px; /* Adjust the width of each folder */
    text-align: center;
  }
  
  .folder-header {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .folder-content {
    display: none; /* Hide folder content by default */
    margin-top: 10px;
  }
  
  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #050505;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #a469ed;
  }
  .back-to-index {
    margin-bottom: 20px;
    text-align: left;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}
